<div class="change-planned-modal">
  <div id="changePlannedModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="has-text-weight-bold margin-bottom-10">Editar valor planejado</div>
      <%= form_tag create_new_report_path, method: :post, id: 'newReportForm' do %>
        <div class="columns">
          <div class="column">
            <label>Novo valor:</label>
            <input id="money" class="input" type="text" name="amount" autocomplete="off">
            <input id="reportEnterpriseIdInputHidden" type="hidden" name="enterprise_id">
            <input id="reportYearInputHidden" type="hidden" name="year">
            <input id="reportMonthNumberInputHidden" type="hidden" name="month_number">
            <input id="reportTypeInputHidden" type="hidden" name="report_type">
            <input id="reportPeriodTypeIdInputHidden" type="hidden" name="period_type">
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <button id="newReportBt" class="button is-primary is-fullwidth new-report-bt">Salvar</button>
          </div>
        </div>
      <% end %>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  </div>
</div>

<script>
  $('#money').mask('000.000.000.000.000,00', {reverse: true});

  $("#newReportBt").click(function(e) {
    e.preventDefault();

    $(this).prop('disabled', true);
    $("#newReportForm").submit();
  });
</script>
