<div class="funnels-container">
  <div class="funnel-bars">
    <div class="bar-container">
      <div class="bar selected " data-step='1'><span class="visit-funnel"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='2'><span class="meeting-seminar-training-funnel"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='3'><span class="request-funnel"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='4'><span class="request-approved-funnel"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='5'><span class="revenues-funnel"></span></div>
    </div>
  </div>
  <button class="button is-primary is-fullwidth see-complete-funnel">Ver Funil Completo</button>
</div>
