<div class="add-technician-modal">
  <div id="addTechnician" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="title">Alocar Técnico</div>
      <div class="columns request-infos no-margin-bottom">
        <div class="column"><span id="technicianModalName" class="highlight"></span></div>
        <div class="column">Oportunidade nº: <span id="technicianModalRequestId" class="highlight"></span></div>
        <div class="column">Empresa: <span id="technicianModalEnterpriseName" class="highlight"></span></div>
      </div>
      <div class="description">Aloque um consultor técnico para elaborar a proposta dessa oportunidade</div>
      <div class="technician-inputs">
        <div class="input-title">Nome do técnico</div>
        <input id="technicianName" class="input user-autocomplete" type="text" placeholder="Digite o nome da pessoa" autocomplete="off">
        <input id="technicianId" type="hidden" name="technician_id">
        <input id="requestId" type="hidden" name="request_id">
      </div>
      <div class="columns button-container">
        <div class="column">
          <button id="addTechnicianButton" class="button is-primary is-pulled-right" disabled>Adicionar técnico</button>
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".user-autocomplete").on("keyup", function() {
    $('#addTechnicianButton').prop('disabled', true);
  });

  $('#addTechnicianButton').click(function() {
    var $bt = $('#addTechnicianButton');
    var technician_name = $('#technicianName').val();

    $.ajax({
      url: '<%= add_technician_url %>',
      method: 'POST',
      data: {
        request_id: $('.request-modal').data('request-id'),
        technician_id: $('#technicianId').val(),
        authenticity_token: "<%= form_authenticity_token %>"
      },
      beforeSend: function() {
        $bt.addClass('is-loading');
      },
      error: function() {
        $bt.removeClass('is-loading');
        alert("Ocorreu um erro ao adicionar o técnico.");
      },
      success: function() {
        $bt.removeClass('is-loading');
        updateModalSteps(2);
        alert("Técnico adicionado.");
        $('#technicianName').val('');
        $('#addTechnician').removeClass('is-active');
        $('.request-modal .technician-box').html(
          `<div class="person-tag">
            <div class="sphere">
              <div class="initials">${getInitialsFromName(technician_name)}</div>
            </div>
            <div class="name consultant-name">${technician_name}</div>
          </div>`
        );
      }
    })
  });

  $('.user-autocomplete').autoComplete({
    minChars: 1,
    source: function(term, response) {
      var xhr;
      var matches = [];
      term = term.toLowerCase();

      try { xhr.abort(); } catch(e) {}
      xhr = $.getJSON('/user_autocomplete/technician', { q: term }, function(data) {

        if (data.length > 0) {
          for (i = 0; i < data.length; i++)
            if (~data[i][0].toLowerCase().indexOf(term)) matches.push(data[i]);
        }

        response(matches);
      });
    },
    renderItem: function (item, search) {
      search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
      var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
      return '<div class="autocomplete-suggestion" data-user-id="' + item[1] +'" data-val="' + item[0] + '">'+ item[0].replace(re, "<b>$1</b>") + '</div>';
    },
    onSelect: function(event, term, item) {
      $('#technicianId').val(item.data('user-id'));
      $('#addTechnicianButton').prop('disabled', false);
    }
  });
</script>
