<div class="funnels-container">
  <div class="funnel-bars">
    <div class="bar-container">
      <div class="bar selected" data-step='1'><span id="inLineService"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='2'><span id="inElaborationService"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='3'><span id="inApprovalService"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='4'><span id="inMobilizationService"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='5'><span id="inExecutionService"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='6'><span id="inRevenueService"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='7'><span id="inPaymentService"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='8'><span id="inAftersaleService"></span></div>
    </div>
  </div>
  <button class="button is-primary is-fullwidth see-complete-funnel">Ver Funil Completo</button>
</div>
