<div class="funnels-container">
  <div class="funnel-bars">
    <div class="bar-container">
      <div class="bar selected" data-step='1'><span id="inLineProduct"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='2'><span id="inElaborationProduct"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='3'><span id="inApprovalProduct"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='4'><span id="inRevenueProduct"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='5'><span id="inMobilizationProduct"></span></div>
    </div>
    <div class="bar-container">
      <div class="bar" data-step='6'><span id="inPaymentProduct"></span></div>
    </div>
  </div>
  <button class="button is-primary is-fullwidth see-complete-funnel">Ver Funil Completo</button>
</div>
