<div class="question">
  <div class="header">
    <div class="id">ID: <span></span></div>
    <div class="question-title-label"><span></span></div>
    <div class="controls">
      <div class="hide-question">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" />
        </svg>
      </div>
      <div class="delete-question">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#000000" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
        </svg>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="form-group">
      <input type="text" class="question-title-input" required="required"/>
      <label for="input" class="control-label">Texto do link</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" class="question-url-title-input" required="required"/>
      <label for="input" class="control-label">Título do link</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" class="question-url-input" required="required"/>
      <label for="input" class="control-label">URL do link</label><i class="bar"></i>
    </div>
  </div>
</div>