<div class="files-modal">
  <div id="organizationChartModalFiles" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content overflow-y-auto">
      <div class="main-container">
        <div class="title-container">
          <div class="title">Organogramas em <span class="chart-enterprise-name"></span>.</div>
        </div>
        <div class="table-container">
        </div>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
  </div>
</div>
